*{
    margin: 0;
    padding: 0;
}

.name {
  
  margin: 15px;
  padding: 5px;
  background-color: magenta;
  color: black;
  text-align: center;
}

.nombres {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90vw;
    height: 100vh;
    border: 1px black solid;
}