*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0 auto;
    width: 1200px;
    padding: 0px;
}
header{
    background-color: ;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    background-color: ;
    width: 600px;
    height: 180px;
    float: left;
}

.logo1{
    width: 250px;
}

.logo1:hover{
    background-color:beige;
}

ul{
    background-color: ;
    width: 600px;
    height: 90px;
    float: left;
    list-style: none;
    padding-top: 90px;
}

li{
    display: inline;
    padding-left: 95px;
    font-size: 20px;
    color: brown;
}

.brow{
    text-decoration: none;
}

.brow:link{
    color: brown;
}

.brow:hover{
    color: black;
}

main{
    background-color: ;
    height: 600px;
}

video{
    width: 600px;
    height: 600px;
    float: left;
}

h2{
    font-size: 25px;
    background-color: beige;
    width: 600px;
    height: 350px;
    float: right;
    text-align: center;
    padding-top: 250px;
}

span{
    color: brown;
}
article{
    border: 2px black solid;
    width: 1200px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}

.ideas{
    background-color: ;
    height: 280px;
    margin-bottom: 10px;
}

.banner1{
    width: 500px;
    float: left;
}

.banner2{
    width: 500px;
    float: right;
}

footer{
    height: 60px;
    width: 1200px;
}