*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0 auto;
    padding: 0px;
}

header{
    text-align: center;
    background-color: none;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background-image: url(img/blue.avif); 
    background-size: 2400px 1200px;
}

li a{
    background-color:none;
    text-align: center;
    text-decoration: none;
    color: brown;
    border: 2px black solid;
    font-size: 25px;
}

a:hover{
    color: black;
    background-color: aliceblue;
    border: 5px black solid;
    font-size: 30px;
}

li{
    background-color: none;
    display: row;
    padding-left: 95px;
    font-size: 20px;
    margin-top: 25px;
}

ul{
    margin-top: 20px;
}
