* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("fondo-alicante.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(80%);
    color: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


header h1 {
    font-size: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


nav a {
    color: rgb(214, 255, 248);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}


section h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.intro {
    background-color: white;
}

.blue {
    background-image: url("ciudad alicante.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.green { 
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.card {
    background-color: white;
    color: black;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.card p {
    font-size: 14px;
    margin-top: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.esp {
    max-width: 900px;
    width: 100%;
}

ul {
    margin: 20px auto;
    max-width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li {
    font-size: 16px;
}

footer {
    background-image: url("fondo-alicante.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 40px;
    text-decoration: none;
    color: lightcoral;
}

footer a:hover {
    box-shadow: 0px 0px 10px 10px white;
    color: aliceblue;
}
