/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ballet', cursive;
}

body {
    background-color: white;
    color: black;
}

.header {
    width: 100%;
    height: 280px;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.texto {
    max-width: 900px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 60px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.card {
    width: 30%;
    min-width: 280px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background: white;
    border: 4px solid blue;
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card h2 {
    margin-top: 50px;
    font-size: 2.4rem;
    color: black;
}

.card:hover {
    border: 4px solid yellow;
    box-shadow: 5px 15px 30px yellow;
}

.card:hover h2 {
    color: orange;
}


