*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-areas: 
    "header header header"
    "nav article section" 
    "main main aside" 
    "footer footer footer";
    width: 80vw;
    margin: auto;
    
}

.gym{
    color: rgb(60, 0, 128);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    width: 30vw;
}
header{
    grid-area: header;
    width: 80vw;
    border-width: 0.3vw;
    border-color: chartreuse;
    border-style: solid;
    text-align: center;
    margin-top: 2vw;
}
h1{
    color: blue;
    font-size: 1.4vw;
    padding: 2vw;
}
nav{
    grid-area: nav;
    border-width: 0.3vw;
    border-color: red;
    border-style: solid;
    text-align: center;
}
nav div{
    border-width: 0.3vw;
    border-color: red;
    border-style: solid;
    margin: 1vw;
    padding: 1vw;
}
nav div a{
    padding: 1.5vw;
    font-size: 1vw;
}
article{
    grid-area: article;
    border-width: 0.3vw;
    border-color: purple;
    border-style: solid;
    
}
article h3{
    font-size: 1.3vw;
    padding-left: 2vw;
    padding-top: 6vw;
    float: left;
}
section{
    grid-area: section;
    border-width: 0.3vw;
    border-color: aqua;
    border-style: solid;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}
section div{
    margin: auto;
    padding: 1vw;
    margin: 1vw;
}
main{
    grid-area: main;
    background-color: yellow;
    padding: 2vw;
    margin-bottom: 2vw;
}
main div a img{
    width: 100%;
}
aside{
    grid-area: aside;
    border-width: 0.4vw;
    border-color: violet;
    border-style: solid;
    padding-top: 8vw;
    padding-bottom: 1vw;
    margin-bottom: 2vw;
    text-align: left;
}
aside div{
    border-width: 0.4vw;
    border-color: violet;
    border-style: solid;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    margin-bottom: 1vw;
 
}
aside div a{
    padding: 0.5vw;
    font-size: 1vw;
}
nav div:hover{
    background-color: yellow;
}
aside div:hover{
    background-color: mistyrose;
}
footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    border-width: 0.5vw;
    border-color: brown;
    border-style: solid;
    grid-template-areas: 
    "caja1 caja1"
    "caja2 caja3"
    "caja2 caja4"
    "caja5 caja6" ;
    background-color: mistyrose;
}
footer div, .caja3, .caja5, .caja6{
    background-color: white;
}
footer div{
    margin: 2vw;
    padding: 2vw;
    border-width: 0.5vw;
    border-color: brown;
    border-style: solid;
}
.caja1{
    grid-area: caja1;
    background-color: white;
}
.caja2{
    grid-area: caja2;
    background-color: coral;
}
footer div, .caja3, .caja5, .caja6{
    background-color: white;
}
.caja4{
    background-color: wheat;
}