* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
}

h1 {
  font-family: "playfair-display", serif;
}

h2 {
  font-family: "playfair-display", serif;
  font-size: 35px;
}

h5 {
    font-family: "letter-gothic-recast", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}

p {
    font-family: "letter-gothic-recast", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.todo {
  display: flex;
  margin: 5vh;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 5vh;
}

.contenido {
  display: flex;
  padding: 5vw;
}

.caja {
  background: yellow;
  color: black;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.medio {
  border: 8px solid red;
}

.texto {
  background: white;
  color: black;
  text-align: center;
  width: 815px;
  height: 150px;
  border: 4px solid red;
}

.gilda img {
  width: 100%;
  height: 100%;
}

.matrimonio:hover {
  background-image: url(IMG/gilda2.webp);
  background-size: cover; 
}

.sevillana img {
    width: 20vw;
}

@media (orientation: portrait) {
  .contenido {
    flex-direction: column;
  }

  .caja {
    margin-bottom: 4vh;
    background: olive;
  }

  .sevillana {
    display: block;
  }

  .texto {
    display: none;
  }
}

@media (orientation: landscape) {
  .contenido {
    flex-direction: row;
  }

  .sevillana {
    display: none;
  }
}