* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  padding: 20px;
}

.subt{
   text-decoration: none;
   color: orangered;
}
header h1 {
  font-family: 'Chewy', cursive;
  font-size: 48px;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orangered;
  color: blue;
  padding: 15px 0;
 
}

main {
  padding: 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.producto {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chewy', cursive;
  transition: transform 0.3s;
}

.mapa{
   
 
}

iframe{
  padding: 10px;
   border: 3px solid orangered;
}
.azul {
  background-color: deepskyblue;
}

.fucsia {
  background-color: hotpink;
}

.amarillo {
  background-color: gold;
}

.verde {
  background-color: lightgreen;
}

.azul:hover {
  transform: translate(10px, 10px);
 background-color: white;
 color: white;
 border: 3px solid deepskyblue;

}

.fucsia:hover {
  transform: translate(10px, -10px);
  background-color: white;
  color: white;
  border: 3px solid hotpink;
}

.amarillo:hover {
  transform: translate(-10px, 10px);
  background-color: white;
  color: white;
  border: 3px solid gold;
}

.verde:hover {
  transform: translate(-10px, -10px);
  background-color: white;
  color: white;
  border: 3px solid lightgreen;
}

.mapa {
  margin-bottom: 40px;
}

footer {
  padding: 20px;
}

footer img {
  width: 800px;
  max-width: 100%;
}
