
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
}


body{
   
  background-image: url("fondo\ navidad\ nieve.jpg");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

.contenedor{
    border: 3px dashed red;
    margin-top: 20px;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: red;
    margin: 25px;
    letter-spacing: 10px;
    font-size: 50px;
}

h1:hover{
    color: green;
}

figure.fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure div{
    width: 400px;
    height: 200px;
    border: 2px solid red;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    height: 150px;
}

/* TEXTOS */
h2{
    color: white;
    font-size: 35px;
}

h2:hover{
    color:cadetblue;
}
h5{
    margin-top: 15px;
    text-align: center;
}

/* FONDOS */
.uno{
   background: linear-gradient(to top, white 0 5%, green 50%, red 100%); 
}

.dos{
  background: linear-gradient(45deg, white 0 10%, red 30% 70% , white 100% 15%);
}

.tres{
    background: linear-gradient(to right, green, white);
}

.cuatro{
    background: linear-gradient(to top, red 0 80%, green 90% 100% );
}

.cinco{
    background: linear-gradient(45deg, green 0 35%, red 30% 65%, white 0 -100%);
}

.seis{
    background: linear-gradient(to right, green, white, red, green, white, red);
}

/* TEXTO FINAL */
.texto-final:hover{
    background: linear-gradient(to top, red, green);
    color: white;
    border: 3px solid green;
}

section,.texto-final{
    border: 3px solid green;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

