*{
    margin-top: 25px;
}


.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.contenedor div{
    width: 200px;
    height: 200px;
}

.enlaces{
    display: flex; 
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

div{
    text-align: center;
}

h1{
    margin-top: 75px;
}

a:link{
    color: greenyellow;
}

a:visited{
    color: purple;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}


.rojo{
    background-color: red;
}

.bisque{
    background-color: bisque; flex-grow: 2;
}

.beige{
    background-color: beige; flex-shrink: 15;
}

.marron{
    background-color: brown; flex-grow: 1;
}

.naranja{
    background-color: orange;
}

.coral{
    background-color: coral;
}