*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
  text-align: center;
  color: brown;
  margin-top: 20px;
  letter-spacing: 20px;
  font-size: 20px;
}

.uno{
  text-align: center;
  color: brown;
  margin-top: 40px;
  font-size: 20px;
}

.galeria{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
section{
display: flex;
flex-wrap: wrap;
margin-bottom: 30px
}

figure{
overflow: hidden;
margin: auto;
display: flex;
flex-wrap: wrap;
text-align: center;
filter: blur(5px);
flex-direction: column; 
}

figcaption {
margin-top: 8px;
font-size: 14px;
color: brown;
}

figure img{
width: 300px;
height: 200px;
}

figure:hover {
filter: blur(0px);
}

body{
  background-image: url("Fondo.avif");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}