*{
  margin: 0;
  padding: 0; 
}

header {
  padding: 15px 0;
  
}
.dos{
 font-family: "alight-slab", sans-serif;
font-weight: 400;
font-style: normal;
margin-top: 40px;
text-align: center;
margin: 0;
}
header h1 {
  float: left 10%;
  font-size: 2.2em;
  font-family: "new-astro-soft", sans-serif;
  font-style: bold;
}

.medio{
font-family: "alight-slab", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
flex-wrap: wrap;
padding: 25px;
}

nav {
  background-color: #fe4934; 
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 12px;
}

nav ul li a {
  color: white; 
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
}

#banner {
  text-align: center;
  padding: 0; 
}

#banner img {
  width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto;
 
}

#productos {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 40px 10%;
  flex-wrap: wrap;
  margin-top: 15px;
  background-image: url(img/Fondo.webp);
  background-size: cover; 
  background-repeat: no-repeat;
}

.producto img {
  width: 100%;
  height: auto;
  max-width: 230px;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  color: #fe4934;
}

footer p {
  margin: 0;
}
